*.zip
*.tar.gz
*.so 
/go_test/hello
mr-out-0
/paper/raft/1.pdf
/paper/raft/3.pdf
/paper/raft/4.pdf
/paper/raft/2.pdf
/lab1/b.pdf
/lab1/c.pdf
/lab1/a.pdf
/paper/MapReduce/1.pdf
/paper/MapReduce/2.pdf
/paper/gfs/1.pdf
/paper/gfs/2.pdf
/paper/gfs/3.pdf
/paper/gfs/4.pdf
